
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/*GENERAL PARA TODAS LAS PAGINAS*/
*{
    font-family: "Roboto";
}
/*MENU PARA TODAS LAS PAGINAS*/
header{
    width: 100%;
    background: #34495e;
}
.navbar-default{
    background: #34495e;
    border: none;
    margin-bottom: 10px;
}
#bs-example-navbar-collapse-1{
    padding-top: 10px;
}
#bs-example-navbar-collapse-1 a{
    color: #dde0e3;
    background: #34495e;
}
#bs-example-navbar-collapse-1 a:hover, .active{
    text-decoration: none;
    color: #fff;
    background: #2c3e50;
}
.navbar-toggle.collapsed{
    margin: 12px 0px; 
}
.dropdown-menu{
     background: #34495e;
}
/*FOOTER1 PARA TODAAS LAS PAGINAS*/
#footer1{
    width: 100%;
    background: #34495e;
    color: #fff;
    padding: 50px 0px 50px 0px;
}
#footer1 p, #footer1 li{
    color: #b8bfc4;
}
#footer1 .btn-default {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}
/*FOOTER2 PARA TODAS LAS PAGINAS*/
#footer2{
    background: #2c3e50;
    color: #b8bfc4;
}
#footer2 h6{
    padding-top: 10px;
}
#footer2 li{
    display: inline-block;
    padding-right: 5px;
}
#footer2 a{
    color: #b8bfc4;
    text-decoration: none;
}

/*CONTENIDO DE LA PAGINA HOME O INDEX*/

/*CAROUSEL HOME*/
.carousel-inner img {
    -webkit-filter:(100%);
    filter: (100%); /* make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    margin: auto;
}
.carousel-caption h3 {
    color: #fff !important;
}
@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}
/*REDES HOME*/
#redes{
    width: 100%;
    background: #2ecc71;
    padding: 40px 0px 40px 0px;
    color:#fff;
    font-size: 12px;
}
#redes i{
    font-size: 20px;
}
.circulo-r, .circulo-f{
    border-radius: 100%;
    background: #1c7a44;
    width: 40px;
    height: 40px;
    padding:10px 0px 0px 12px;
    margin: 0px 10px 0px 10px;
}
.circulo-f{
    padding: 10px 10px 0px 15px
}
/*PROYECT HOME*/
#proyect{
    width: 100%;
    background: #f5f5f5;
    padding: 80px 0px 80px 0px;
}
.pagination>li>a{
    color: #fff;
    text-decoration: none;
    background-color: #d9534f;
    border: 1px solid #d9534f;
}
#proyect img{
    margin: 10px 0px 10px 0px;
}
/*CLIENTS HOME*/
#clients{
    width: 100%;
    background: #e74c3c;
    color:#fff;
    padding: 50px 0px 50px 0px;
}
#clients .subtitulo{
    padding-bottom: 40px;
    border: none;
}
#clients p{
    border-left: 4px solid #fff;
    padding-left: 10px;
    padding-bottom: 10px;
}
.minisub{
    font-size: 10px;
    color: #f7c7c2;
}

/*BANNERS DE TODAS  LAS PAGINAS*/
#banner{
    width: 100%;
    background: #2ecc71;
    padding: 40px 0px 40px 0px;
    color:#fff;
}
#banner li{
    display: inline-block;
}
#banner a{
    text-decoration: none;
    color: #fff;
}



/*código del portafolio*/
.thumbnail {
    padding: 0 0 20px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
/*fin del portafol*/
ul{
  padding: 0px;
}
/*codigos de blog*/

.iconos-blog li{
  display: inline-block;
}
.busqueda{
  border-color:#E93D3D;
  margin-bottom: 30px;
}
.bn-azules li{
  display: inline-block;


}
.bn-azules .boton{
  background: #337ab7;
  border-color:#337ab7; 
  padding:3px 5px;
  margin-bottom:3px;
  color:#fff;
  font-size:12px;
}
.boton:hover{
  background:#042873;
}
/**código de botones con números del blog**/
.pagination>li>a{
  border:0px;
  color:black;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    background-color:#337ab7;
  }
  /**código de botones con números del blog**/