
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/*GENERAL PARA TODAS LAS PAGINAS*/
*{
    font-family: "Roboto";
}
* ul{
  padding: 0px;
}
/*MENU PARA TODAS LAS PAGINAS*/
#menu-contenedor{
    height: 68px;
}
header{
    width: 100%;
    background: #34495e;
    position: fixed;
    z-index: 1;
}
.navbar-default{
    background: #34495e;
    border: none;
    margin-bottom: 10px;
}
#bs-example-navbar-collapse-1{
    padding-top: 10px;
}
#bs-example-navbar-collapse-1 a{
    color: #dde0e3;
    background: #34495e;
}
#bs-example-navbar-collapse-1 a:hover, .active{
    text-decoration: none;
    color: #fff;
    background: #2c3e50;
}
.navbar-toggle.collapsed{
    margin: 12px 0px; 
}
.dropdown-menu{
     background: #34495e;
}
/*BANNERS DE TODAS  LAS PAGINAS*/
#banner{
    width: 100%;
    background: #2ecc71;
    padding: 40px 0px 40px 0px;
    color:#fff;
}
#banner ul{
    margin-top: 29%;
}
#banner li{
    display: inline-block;
}
#banner a{
    text-decoration: none;
    color: #fff;
}
/*FOOTER1 PARA TODAAS LAS PAGINAS*/
#footer1{
    width: 100%;
    background: #34495e;
    padding: 50px 0px 50px 0px;
    color: #b8bfc4;
}
#footer1 li{
    list-style: none;
}
#footer1 .media{
    padding-left: 0px;
    padding-bottom: 0px;
}
#footer1 .btn-default {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}
.list-footer li{
  list-style: none;
}
.list-footer a{
  color:#b8bfc4;
}
/*FOOTER2 PARA TODAS LAS PAGINAS*/
#footer2{
    background: #2c3e50;
    color: #b8bfc4;
}
#footer2 h6{
    padding-top: 10px;
}
#footer2 li{
    display: inline-block;
    padding-right: 5px;
}
#footer2 a{
    color: #b8bfc4;
    text-decoration: none;
}

/*CONTENIDO DE LA PAGINA HOME O INDEX*/

/*CAROUSEL HOME*/
.carousel-inner img {
    -webkit-filter:(100%);
    filter: (100%); /* make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    margin: auto;
}
.carousel-caption h3 {
    color: #fff !important;
}
@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}
@media screen and (min-width: 400px){
.carousel-caption {
    right: 50%;
    left:90px;
    padding-bottom:15%;
}
}
/*REDES HOME*/
#redes{
    width: 100%;
    background: #2ecc71;
    padding: 40px 0px 40px 0px;
    color:#fff;
    font-size: 12px;
}
#redes i{
    font-size: 20px;
}
.circulo-r, .circulo-f{
    border-radius: 100%;
    background: #1c7a44;
    width: 40px;
    height: 40px;
    padding:10px 0px 0px 12px;
    margin: 0px 10px 0px 10px;
}
.circulo-f{
    padding: 10px 10px 0px 15px
}
/*PROYECT HOME*/
#proyect{
    width: 100%;
    background: #f5f5f5;
    padding: 80px 0px 80px 0px;
}
.pagination>li>a{
    color: #fff;
    text-decoration: none;
    background-color: #d9534f;
    border: 1px solid #d9534f;
}
#proyect img{
    margin: 10px 0px 10px 0px;
}
/*CLIENTS HOME*/
#clients{
    width: 100%;
    background: #e74c3c;
    color:#fff;
    padding: 50px 0px 50px 0px;
}
#clients .subtitulo{
    padding-bottom: 40px;
    border: none;
}
#clients p{
    border-left: 4px solid #fff;
    padding-left: 10px;
    padding-bottom: 10px;
}
.minisub{
    font-size: 10px;
    color: #f7c7c2;
}

/*PAGINA ABOUT-US - SERVICES - CONTACT US*/
#skills, #team, #wedo, #say, #form{
    background: #f5f5f5;
}
#banner p{
  margin-bottom: 25px;
}

/*PAGINA ABOUT-US - SERVICES*/

#skills, #form{
    padding: 40px 0px 50px 0px;
}
#skills .progress{
    height: 25px;
}
#skills .progress-bar{
    font-size: 14px;
    line-height: 24px;
}
#team{
    padding: 0px 0px 30px 0px;
}
#team img{
    border-radius:100%;
}
#team p{
    color: #a7a7a7;
}
#team li{
    display: inline-block;
    padding-right: 3px;
}
#team .circulo-f2, #team .circulo-g, #team .circulo-t, #team .circulo-in{
    border-radius: 100%;
    width: 33px;
    height: 33px;
    color: #fff;
}
#team .circulo-f2{
    background: #4f7dd4;
    padding:8px 0px;
}
#team .circulo-g{
    background: #dc422b;
    padding: 7px 0px 0px 4px;
}
#team .circulo-t{
    background: #5bceff;
    padding: 7px 0px;
}
#team .circulo-in{
    background: #21a6d8;
    padding: 7px 0px;
}
#wedo{ 
    padding: 40px 0px 20px 0px;
}
#wedo .container{
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}
#wedo .circulo{
    border-radius: 100%;
    width: 60px;
    height: 60px;
    color: #fff;
    background: #939393;
    padding: 5px 15px 0px ;
    font-size: 35px;
}
#say{
    background: #f5f5f5;
    padding:0px 0px 70px 0px;
}
#say .minisub2{
    color:#c6c6c6;
    font-size: 11px;
    padding-top: 3px;
}
#say p{
    border-left: 4px solid #eeeeee;
    padding: 5px 0px 10px 20px;
}

/*PAGINAS PORTAFOLIO - BLOG - BLOG THEME*/

/*código del portafolio*/
.thumbnail {
    padding: 0 0 0px 0;
    border: none;
    border-radius:0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.portafolio-barra{
  padding: 13px 13px 1px 13px;
  border: 1px solid #eeeeee;
}
.img img{
  border-radius:8px;/*borde de las 4 imagenes de col-right del blog */
}


/*codigos de blog*/
#blog, #portafolio{
  padding-top:40px;
  padding-bottom:35px;
  background: #f5f5f5;
}
.borde-blog{
  border-radius:8px;
}
.image{
  border-radius:8px;
}
.item{ /*contenido total del item blog*/
  background: #ffffff;
  border-radius: 0px 0px 8px 8px;
}
.images img{
  border-radius: 8px 8px 0px 0px;
}
.img-redondo img{
  border-radius: 50%;
}
.contenido-blog, .comment{
  padding:0px 25px;
  padding-bottom:20px;
}
.raya{
  padding-bottom:15px;
  border-bottom:2px solid #D3D3D3;
}
.borde-comentario{
  border-radius: 6px;
  background: #f5f5f5;
}
.iconos-blog li{
  display: inline-block;
  padding-right:2%;
}
.iconos-blog a{
  color:#A7A7A7;
}
.busqueda{
  border-color:#E93D3D; /*icono de busqueda*/
  margin-bottom: 30px;
}
.blogs-categories li{ 
  list-style: none;
}
.blogs-categories li a{
  color:#000000;
}
.blogs-categories li a:hover{
  color:#A7A7A7;
  text-decoration: none;
}
.bn-azules li{
  display: inline-block;
}
.bn-azules .boton{
  background: #337ab7;
  border-color:#337ab7; 
  padding:3px 5px;
  margin-bottom:3px;
  color:#fff;
  font-size:12px;
}
.boton:hover{
  background:#042873;
}
/**código de botones con números del blog**/
.pagination>li>a{
  border:0px;
  color:black;
  background:#ffffff;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    background-color:#2c3e50;
    color:#ffffff;
  }
  .pagination>li>a, .pagination>li>span{
    padding:10px 15px;
  }
/**código de botones con números del blog**/
